<div class="row">
  <div class="content">
    <button *ngIf="!showShotButtons" (click)="showShotButtons = true">Schuss melden</button>
    <button *ngIf="showShotButtons" (click)="sendMessage('treffer')">Treffer</button>
    <button *ngIf="showShotButtons" (click)="sendMessage('großer')">Großer</button>
    <button *ngIf="showShotButtons" (click)="sendMessage('kleiner')">Kleiner</button>
  </div>
  <div>
    <button *ngIf="!data.closed" (click)="close()">Bahn sperren</button>
    <button *ngIf="data.alert" (click)="alertOff()">Alarm stoppen</button>
    <button *ngIf="data.closed" (click)="open()">Bahn freigeben</button>
    <h1>Bahn A</h1>
    <h1>Zähler: {{data.counter}}</h1>
  </div>
</div>

<!--TODO Wenn die Bahn gesperrt ist, sollen die Knöpfe weg sein und durch ein Label ersetzt sein
TODO Unterschied einbauen, ob Deckung oder Schreiber gesperrt. Nur der kann auch wieder entsperren-->
