<div class="row" *ngIf="stomp.connected()">
  <div *ngIf="isOpen()" class="row">
    <div class="rectangle" [ngClass]="{'active': data.shot === 'treffer'}"><span>T</span></div>
    <div class="rectangle" [ngClass]="{'active': data.shot === 'grosser'}"><span>G</span></div>
    <div class="rectangle" [ngClass]="{'active': data.shot === 'kleiner'}"><span>K</span></div>
  </div>
  <div *ngIf="isClosedBySchreiber()">
    <h1>Die Bahn ist von dem Schreiber gesperrt worden.</h1>
  </div>
  <div *ngIf="isClosedByDeckung()">
    <h1>Die Bahn ist von der Deckung gesperrt worden.</h1>
  </div>
  <div class="labels">
    <span class="spacer"></span>
    <div class="counter-label">Zähler: {{ data.counter }}</div>
  </div>
  <div class="switches">
    <button *ngIf="isOpen()" (click)="close()">Bahn sperren</button>
    <button *ngIf="isClosedBySchreiber()" (click)="open()">Bahn freigeben</button>
    <button *ngIf="!data.alert" (click)="alertOn()">Alarmieren</button>
    <button *ngIf="data.alert" (click)="alertOff()">Alarm stoppen</button>
  </div>
  <div class="most-right">
    <div class="status-label">BAHN A</div>
  </div>
</div>
<div *ngIf="!stomp.connected()">
  <h2>Warte auf Verbindung zum Server... </h2>
</div>

