<div class="outer-container" [ngClass]="getBackgroundColorClass()" *ngIf="stomp.connected()">
  <div class="inner-container treffer-container">
    <div *ngIf="isOpen()" class="treffer-div" [ngClass]="getColor('treffer')">
      TREFFER
    </div>
    <div *ngIf="isOpen()" class="treffer-div" [ngClass]="getColor('grosser')">
      GROßER
    </div>
    <div *ngIf="isOpen()" class="treffer-div" [ngClass]="getColor('kleiner')">
      KLEINER
    </div>
    <div *ngIf="isClosedBySchreiber()" class="closed-text">
      <h1>Die Bahn ist von dem Schreiber gesperrt worden.</h1>
    </div>
    <div *ngIf="isClosedByDeckung()" class="closed-text">
      <h1>Die Bahn ist von der Deckung gesperrt worden.</h1>
    </div>
  </div>

  <div class="inner-container">
    <p class="m-auto">Bahn <br> <br>
      <span class="badge text-bg-danger">A</span></p>
  </div>

  <div class="inner-container">
    <p class="m-auto">Zähler: <br> <br>
      <span class="badge text-bg-danger">{{data.counter}}</span></p>
  </div>

  <div class="inner-container buttons-schreiber-container">
    <div>
      <button *ngIf="isOpen()" (click)="close()" class="button-schreiber">
        Sperren
      </button>
      <button *ngIf="isClosedBySchreiber()" (click)="open()" class="button-schreiber">
        Freigeben
      </button>
    </div>
    <div>
      <button *ngIf="!data.alert" (click)="alertOn()" class="button-schreiber">
        Alarmieren
      </button>
      <button *ngIf="data.alert" (click)="alertOff()" class="button-schreiber">
        Alarm stoppen
      </button>
    </div>
  </div>
</div>

<div *ngIf="!stomp.connected()" class="text-center m-5">
  <h2>Warte auf Verbindung zum Server... </h2>
</div>
