
.row {
  display: flex;
  align-items: center;
}

.most-right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: larger;
}

.rectangle {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  background-color: #ffe3b0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #513B56;
  border-radius: 50px;
}

.rectangle span {
  text-align: center; /* Centers the content vertically */
  font-size: 50px;
  color: #513B56;
}

.rectangle.active {
  background-color: #ffc1c8;
}

.labels {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 25px;
}

.counter-label {
  margin-bottom: 10px;
}

.status-label {
  font-size: 8em;
  color: #513B56;
}

.switches {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 30px;
}

.spacer {
  display: block; /* Makes the span a block-level element */
  height: 20px; /* Adjust this value to control the amount of vertical space */
}

