<div class="toolbar" role="banner">
  <h1>Bahn C</h1>
  <h1>Zähler: {{data.counter}}</h1>
  <h1>Shot: {{data.shot}}</h1>
  <h1>Alert: {{data.alert}}</h1>
  <h1>Bahn geschlossen: {{data.closed}}</h1>
</div>

<div class="content" role="main">
  <button (click)="sendMessage('treffer')">Treffer</button>
  <button (click)="sendMessage('großer')">Großer</button>
  <button (click)="sendMessage('kleiner')">Kleiner</button>

  <button (click)="close()">Bahn sperren</button>
  <button (click)="alertOff()">Alarm stoppen</button>
  <button (click)="open()">Bahn freigeben</button>
</div>
