/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  /*margin: 1em;*/
  /*box-sizing: border-box;*/
  /*overflow: hidden;*/
}

body { font-family: Roboto, "Helvetica Neue", sans-serif; }


.bg-pastel-red {
  background-color: #ff9b9b; /* Pastellrot */
}

.bg-pastel-green {
  background-color: #8ef18e; /* Pastellgrün */
}
