/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body { font-family: Roboto, "Helvetica Neue", sans-serif; }


.bg-pastel-red {
  background-color: #ff9b9b; /* Pastellrot */
}

.bg-pastel-green {
  background-color: #8ef18e; /* Pastellgrün */
}

.button-blue {
  background-color: #4861a3;
}

h1 {
  margin-bottom: 0 !important;
}

.text-red {
  background-color: #e71d35;
}

.text-subtle {
 background-color: #b0c4dd;
}


